In [52]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [53]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [54]:
df1 = df[['Attr1','Attr2','Attr7','Attr10','class']]
df1.columns = ['X1','X2','X7','X10','class']           # renmame

In [55]:
df2 = df1.iloc[:,0:4]
df1.loc[:,0:4] = df2.fillna(df2.mean())  # Fill-in the missing values na with the mean

D:\Python\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [63]:
df1.mean()   # find the mean among all

X1       0.043019
X2       0.596404
X7       0.059446
X10      0.389040
class         inf
dtype: float64

In [ ]:
df1.groupby(['class']).mean()   # find the mean among two groups

In [64]:
df1.std()   # find the std among all

X1     0.359303
X2     4.586887
X7     0.533317
X10    4.590064
dtype: float64

In [61]:
df1.groupby(['class']).std()  # find the std among two groups

             X1        X2        X7       X10
class
b'0'   0.343002  4.689694  0.530524  4.692934
b'1'   0.568076  1.945596  0.568432  1.946747

In [67]:
meanValue = df1['X1'].mean()
stdValue = df1['X1'].std()
sum(df1['X1']< (meanValue - stdValue))  # 284

284

In [72]:
ratio = sum(df1['class']==b'1')/df1.shape[0]
ratio

0.052593954248366014